* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  list-style: none;
}

/* #region NAVIGATION*/
/* Menu de navegação para mobile */
.nav {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 16px;
}

/* Oculta o check box default */
.nav > input {
  display: none;
}

/* Botão para abrir e fechar o menu */
.checkbtn i {
  font-size: 24px;
  color: var(--gray-300);
  padding-right: 20px;
  cursor: pointer;
}

/* Configuração inicial do menu, escondido */
.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  color: var(--white);
  top: 60px;
  right: -100%; /* Esconde o menu fora da tela à direita */
  text-align: center;
  transition: right 0.5s ease; /* Suave transição ao aparecer/desaparecer */
  background: var(--brown-500);
  flex-grow: 1;
}

/* Altura de cada item do menu */
.menu li {
  line-height: calc((100vh - 60px) / 8);
  font-size: 30px;
  cursor: pointer;
}

.menu li:hover {
  background: var(--brown-900);
  padding-left: -10px;
  border-radius: 10px;
}

/* Posição do menu visível */
.menu.visible {
  right: 0; /* Mover o menu para dentro da tela */
}

/* Menu oculto */
.menu.hidden {
  right: -100%; /* Esconder o menu fora da tela */
}

/* Estilização do botão */
.btn {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background-color: var(--brown-500);
  cursor: pointer;
}
/* #endregion NAVIGATION*/

/* Layout para dispositivos maiores */
@media (min-width: 720px) {
  /* Oculta o botão para mobile */
  .checkbtn {
    display: none;
  }

  .nav {
    padding: 0 30px;
    justify-content: space-between;
    height: 120px;
  }

  .btn {
    width: 165px;
    height: 55px;
  }

  .menu {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    background: transparent;
    color: var(--black);
  }

  .menu li {
    font-size: 15px;
  }

  .menu li:hover {
    background: var(--brown-500);
    padding: 0 20px;
    border-radius: 10px;
    line-height: 55px;
  }
}