/* #region GERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  list-style: none;
}

body {
  padding: 10px;
}

.header, .globalMenu{
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 10px;
}

.row{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;

  height: calc(100% / 7);
}

.header_row{
  width: 30%;
  background-color: aqua;
}

.globalMenu_row{
  flex-grow: 9;
  background-color: yellow;
}

.contextMenu {
  background-color: red;
  height: calc(100% / 7);
}

.mainContext {
  background-color: gray;
  height: calc(100% / 7 * 2.8);
}

.adSection {
    background-color: green;
    height: calc(100% / 7);
}

.footer {
    background-color: rebeccapurple;
    height: calc(100% / 7);
}

/* Layout para dispositivos maiores */
@media (min-width: 720px) {
  .container{
    display: grid;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 0.5fr 3fr 0.5fr;
    gap: 10px;
    height: 100vh;
  }

  .row{
    display: none;
  }

  .header {
    display: block;
    grid-column: 1 / 4;
    width: 100%;
    background-color: aqua;
  }

  .globalMenu {
    display: block;
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    background-color: yellow;
    height: 100%;
  }

  .contextMenu {
    grid-row: 3;
    background-color: red;
    height: 100%;
  }

  .mainContext {
    background-color: gray;
    grid-row: 3;
    height: 100%;
  }

  .adSection {
    grid-row: 2 / 4;
    grid-column-start: 3;
    background-color: green;
    height: 100%;
  }

  .footer {
    grid-column: span 3 / span 3;
    grid-row: 4;
    background-color: rebeccapurple;
    height: 100%;
  }
}