.globalMenu {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  display: flex;
}

/* simbolo para abri e fechar o menu */
.checkbtn i {
  font-size: 24px;
  color: var(--gray-100);
  padding-right: 20px;
  cursor: pointer;
}

.globalMenu p{
  margin: auto;
}

@media (min-width: 720px) {
  /* Oculta o boão para mobile */
  .checkbtn{
    display: none;
  }
}