* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  list-style: none;
}

/* #region NAVIGATION*/
/* menu de navegação para mobile */
.nav{
  display: flex;
  height: calc(60px -10px);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
}
.perfil{
  height: 30px;
  width: auto;
  object-fit: cover;
  cursor: pointer;
}

/* Oculta o check box default */
.nav > input{
  display: none;
}

/* simbolo para abri e fechar o menu */
.checkbtn i {
  font-size: 24px;
  color: var(--gray-300);
  padding-right: 20px;
  cursor: pointer;
}

/* Configuração inicial do menu, escondido */
.menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  color: var(--white);
  top: -100vh; /* Mover o menu para visível */
  left: 0;
  /* right: 100%; */
  text-align: center;
  transition: all 3s ease;
  background: var(--brown-500);
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Itens do menu empilhados verticalmente */
  justify-content: flex-start; /* Alinha os itens no topo */
}

/* Altura de cada item do menu */
.menu li{
  line-height: calc((100vh - 60px)/5);
  font-size: 30px;
  cursor: pointer;
}
.menu li:hover {
  background: var(--brown-900);
  /* padding-left: -10px; */
  border-radius: 10px;
}
/* posição com o menu visivel */
.menu.visible {
  top: 60px;
}

.btn{
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background-color: var(--brown-500);
  cursor: pointer;
}
/* #endregion NAVIGATION*/

@media (min-width: 720px) {
  body{
    max-width: 1512px;
    height: 100%;
    margin: auto;
  }

  /* #region NAVIGATION*/
  /* Oculta o boão para mobile */
  .checkbtn{
    display: none;
  }
  .nav{
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    height: 120px;
  }
  .btn{
    width: 165px;
    height: 55px;
  }
   .menu{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
    background: transparent;
    color: var(--black);
    flex-direction: row;
  }
  .menu li{
    font-size: 15px;
  }
  .menu li:hover {
    background: var(--brown-500);
    padding: 0 20px;
    border-radius: 10px;
    line-height: 55px;
  }
  /* #endregion NAVIGATION*/

  /* #region MAIN */
  .conteudo{
    display: flex;
    flex-direction: row-reverse;
    width: 100%'';
  }
  .banner-div{
    width: 100%;
  }
  .banner-mobile{
    display: none;
  }

  .banner{
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
  }
  /* #endregion MAIN */
}